:root {
  --purple-primary: #8c02ec;
  --purple-secondary: #b304eb;
  --pink-primary: #ee07a2;
  --header-text-color: #112333ff;
  --light-background: #f9fafcff;
}

.SearchPage {
  display: flex;
  gap: 24px;
}

.SearchPage__results {
  flex: 1;
  justify-content: center;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.SearchPage__petInfo {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.SearchPage__petPhotoWrapper {
  height: 240px;
  width: 400px;
  overflow: hidden;
  border-radius: 24px;
}

.SearchPage__petPhoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.SearchPage__petDescription {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: var(--light-background);
  border-radius: 24px;
  padding: 24px;
  max-width: 400px;
  box-sizing: border-box;
  word-break: break-word;
}

h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

object {
  cursor: pointer;
}

.SearchPage__filters {
  width: 400px;
  background-color: var(--light-background);
  border-radius: 24px;
  padding: 24px;
}

.Filters__header {
  margin-bottom: 0px;
  margin-top: 0px;
}

.Filters__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.Filters__filterItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.Filters__range {
  display: flex;
  gap: 24px;
}

.TextField__PurpleOutlineRange {
  padding: 12px 18px;
  color: var(--purple-primary);
  font-family: sans-serif;
  font-size: medium;
  border-radius: 8px;
  background-color: white;
  border: 1px solid var(--purple-primary);
  cursor: text;
  width: calc(50% - 12px);
}

.Filters__sort {
  display: flex;
  gap: 16px;
}

.descending-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: small;
}

.Filters__descending {
  display: flex;
  flex-direction: column;
  align-items: center;
}
