.vscode
.DS_Store
phase1/pages/test.html
.idea/csc309-project.iml
.idea/jsLibraryMappings.xml
.idea/modules.xml
.idea/prettier.xml
.idea/vcs.xml
.idea/.gitignore
petpal/env
petpal/db.sqlite3
**/__pycache__/
accounts/migrations

phase3/backend/petpal/env
phase3/backend/petpal/db.sqlite3

phase3/frontend/node_modules