
:root {
  --purple-primary: #8c02ec;
  --purple-secondary: #b304eb;
  --pink-primary: #ee07a2;
  --header-text-color: #112333ff;
  --light-background: rgb(245, 245, 245);
}

.ApplicationsPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
  width: 80%;
}

.ApplicationsPage__application {
  background-color: var(--light-background);
  border: 2px solid var(--purple-primary);
  border-radius: 10px;
  display: flex;
  padding: 10px;
  max-height: 480px;
  margin: 20px 0 20px 0;

}

.Application__leftCol {
  margin: 0px 10px;
  flex: 0 0 30%;
}

.Application__generalInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;


}

.Application__photoWrapper {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: auto;
}

.Application__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Application__generalInfo {
  display: flex;
  flex-direction: column;
}

.Application__mainCol {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  margin-right: 10px;
}

h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 500;
}

.Application__contact {
  margin-top: 10px;
  margin-bottom: 6px;

}

.Application__phone,
.Application__email {

}

.Application__actions {
  margin-top: auto;
  align-self: end;
}

.Application__initialMessage {
  overflow-y: scroll;
}

.MessagePage__messagesWrapper {
  background-color: var(--light-background);
  border: 2px solid var(--purple-primary);
  border-radius: 10px;
  display: flex;
  padding: 10px;
}

.Message__textarea {
  margin-top: auto;
}

.MessagePage__messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 500px;
  overflow-y: scroll;
}

@media (max-width: 1010px) {
  .ApplicationsPage__application {
    flex-direction: column;
    max-height: none;
  }
}

@media (max-width: 600px) {
  .MessagePage__messagesWrapper {
    flex-direction: column;
    max-height: none;
  }

  .Application__mainCol {
    margin-top: 20px;
  }
}