:root {
  --purple-primary: #8c02ec;
  --purple-secondary: #b304eb;
  --pink-primary: #ee07a2;
  --header-text-color: #112333ff;
  --light-background: #f9fafcff;
}

body {
  font-family: sans-serif;
  font-size: larger;
  margin: 0px;
}

header {
  display: flex;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 50px;
  justify-content: end;
  align-items: center;
}

.HeaderItem {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.HeaderItem__active {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.HeaderItem__manage {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 30px;
}

.Button__purple {
  padding: 12px 18px;
  color: white;
  font-family: sans-serif;
  font-size: medium;
  background-image: linear-gradient(
    var(--purple-primary),
    var(--purple-secondary)
  );
  border-radius: 8px;
  border: 1px solid var(--purple-primary);
  cursor: pointer;
}

.Button__purple:hover {
  background-image: none;
  background-color: var(--pink-primary);
  border: 1px solid var(--pink-primary);
}

.Button__purpleOutline {
  padding: 12px 18px;
  color: var(--purple-primary);
  font-family: sans-serif;
  font-size: medium;
  border-radius: 8px;
  background-color: white;
  border: 1px solid var(--purple-primary);
  cursor: pointer;
}

.Button__purpleOutline:hover {
  color: white;
  background-color: var(--pink-primary);
  border: 1px solid var(--pink-primary);
}

.Main {
  height: 100%;
}

.PageContainer {
  position: relative;
  min-height: 100vh;
  margin: 0px 72px;
}

.HeaderText {
  color: var(--header-text-color);
}

.BoldPurpleText {
  color: var(--purple-primary);
}

.dropbtn {
  background-color: white;
  font-size: 19.2px;
  border: none;
  cursor: pointer;
}

.Notification__button {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.Notification__dropdown {
  display: none;
  position: absolute;
  width: 320px;
  border-radius: 16px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 10px;
}

.show {
  display: block;
}

.Notification__item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid black;
  background-color: var(--light-background);
}

.Notification__item:hover {
  color: white;
  background-image: linear-gradient(
    var(--purple-primary),
    var(--purple-secondary)
  );
}

.Notification__photo {
  height: 80px;
  border-radius: 16px;
  overflow: hidden;
  flex: 0 0 30%;
}

.Notification__text {
  font-size: small;
}

.Notification__dot {
  position: absolute;
  right: 0;
  top: 2px;
  height: 8px;
  width: 8px;
  border-radius: 4px;
  background-color: var(--pink-primary);
}

.Notification__none {
  display: flex;
  padding: 10px;
}

.Notification__noneText {
  margin: auto;
}

.Notification__seeAll {
  background-color: var(--pink-primary);
  color: white;
  display: flex;
  padding: 10px;
}

.Notification__seeAll:hover {
  background-image: linear-gradient(
    var(--purple-primary),
    var(--purple-secondary)
  );
}

.Notification__seeAllText {
  margin: auto;
}
