:root {
  --purple-primary: #8c02ec;
  --purple-secondary: #b304eb;
  --pink-primary: #ee07a2;
  --header-text-color: #112333ff;
  --light-background: rgb(245, 245, 245);
  --red_primary: #c30900;
}

body {
  font-family: sans-serif;
  font-size: larger;
  margin: 0px;
}

.App {
  header {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    align-items: center;
  }
  
  .HeaderItem {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  
  .Header__navButtons {
    display: flex;
    gap: 10px;
    margin-right: 50px;
    align-items: center;
  }
  
  .HeaderItem__active {
    color: black;
    font-weight: bold;
    text-decoration: none;
  }
  
  .HeaderItem__manage {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .Button__purple {
    padding: 12px 18px;
    margin: 0 3px 0 3px;
    color: white;
    font-family: sans-serif;
    font-size: medium;
    background-image: linear-gradient(
      var(--purple-primary),
      var(--purple-secondary)
    );
    border-radius: 8px;
    border: 1px solid var(--purple-primary);
    cursor: pointer;
  }
  
  .Button__purple:hover {
    background-image: none;
    background-color: var(--pink-primary);
    border: 1px solid var(--pink-primary);
  }
  
  .Button__purpleOutline {
    padding: 12px 18px;
    color: var(--purple-primary);
    font-family: sans-serif;
    font-size: medium;
    border-radius: 8px;
    background-color: white;
    border: 1px solid var(--purple-primary);
    cursor: pointer;
  }
  
  .Button__purpleOutline:hover {
    color: white;
    background-color: var(--pink-primary);
    border: 1px solid var(--pink-primary);
  }
  
  .Button__pink {
    padding: 12px 18px;
    color: white;
    font-family: sans-serif;
    font-size: medium;
    background-color: var(--pink-primary);
    border-radius: 8px;
    border: 1px solid var(--pink-primary);
    cursor: pointer;
  }
  
  .Button__red {
    padding: 12px 18px;
    color: white;
    font-family: sans-serif;
    font-size: medium;
    background-color: var(--red_primary);
    border-radius: 8px;
    border: 1px solid var(--red_primary);
    cursor: pointer;
  }
  
  .Main {
    height: 100%;
  }
  
  .PageContainer {
    position: relative;
    min-height: 100vh;
    margin: 0px 72px;
  }
  
  .Header__logo {
    margin-left: 50px;
    height: 60px;
    cursor: pointer;
  }
  
  .logo-picture {
    width: 100%;
    height: 100%;
  }
  
  .HeaderText {
    color: var(--header-text-color);
  }
  
  .BoldPurpleText {
    color: var(--purple-primary);
  }
  
  .dropbtn {
    background-color: white;
    font-size: 19.2px;
    border: none;
    cursor: pointer;
  }
  
  .btn-active {
    background-color: white;
    font-size: 19.2px;
    border: none;
    cursor: pointer;
    font-weight: 700;
  }
  
  .Notification__button {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .Notification__dropdown {
    display: none;
    position: absolute;
    width: 320px;
    right: -120px;
    border-radius: 16px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 3;
    margin-top: 10px;
  }
  
  .show {
    display: block;
  }
  
  .Notification__item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid black;
    background-color: var(--light-background);
  }
  
  .Notification__item:hover {
    color: white;
    background-image: linear-gradient(
      var(--purple-primary),
      var(--purple-secondary)
    );
  }
  
  .Notification__photo {
    height: 80px;
    border-radius: 16px;
    overflow: hidden;
    flex: 0 0 30%;
  }
  
  .Notification__text {
    font-size: small;
  }
  
  .Notification__dot {
    position: absolute;
    right: 0;
    top: 2px;
    height: 8px;
    width: 8px;
    border-radius: 4px;
    background-color: var(--pink-primary);
  }
  
  .Notification__none {
    display: flex;
    padding: 10px;
  }
  
  .Notification__noneText {
    margin: auto;
  }
  
  .Notification__seeAll {
    background-color: var(--pink-primary);
    color: white;
    display: flex;
    padding: 10px;
  }
  
  .Notification__seeAll:hover {
    background-image: linear-gradient(
      var(--purple-primary),
      var(--purple-secondary)
    );
  }
  
  .Notification__seeAllText {
    margin: auto;
  }
  
  .Dropdown__PurpleOutline {
    padding: 12px 18px;
    color: var(--purple-primary);
    font-family: sans-serif;
    font-size: medium;
    border-radius: 8px;
    background-color: white;
    border: 1px solid var(--purple-primary);
    cursor: pointer;
  }
  
  .TextField__PurpleOutline {
    padding: 12px 18px;
    color: var(--purple-primary);
    font-family: sans-serif;
    font-size: medium;
    border-radius: 8px;
    background-color: white;
    border: 1px solid var(--purple-primary);
    cursor: text;
  }
  
  /* Reference/Credit: https://www.w3schools.com/howto/howto_css_switch.asp */
  .Toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .Toggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .ToggleSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 34px;
  }
  
  .ToggleSlider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 50%;
  }
  
  input:checked + .ToggleSlider {
    background-color: var(--pink-primary);
  }
  
  input:focus + .ToggleSlider {
    box-shadow: 0 0 1px var(--pink-primary);
  }
  
  input:checked + .ToggleSlider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  @media (max-width: 480px) {
    .PageContainer {
      margin: 0px;
    }
  
    .HeaderText {
      margin-left: 20px;
      margin-right: 20px;
    }
  
    header {
      flex-direction: column;
    }
  
    .Header__logo {
      margin-left: 0px;
    }
  
    .Header__navButtons {
      margin-right: 0px;
    }
  
    .Notification__dropdown {
      right: -60px;
    }
  }
}



