.Message__userName{
  font-weight: bold;
  margin-right: 5px;
  text-decoration: underline;
}

.MessagePage__messages {
  max-height: 200px;
  overflow-y: auto;
}


.ScrollNotification {
  //position: absolute;
  //width: 20vw;
  //left: 50%;
  //transform: translateX(50%);
  text-align: center;
  bottom: 10px;
  background-color: #4caf50;
  color: #fff;
  padding: 8px 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  //z-index: 1;
}





